# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
      timezone: "Asia/Shanghai"
    open-pull-requests-limit: 10
    groups:
      core-deps:
        patterns:
          - "github.com/xtls/xray-core"
          - "github.com/wyx2685/xray-core"
          - "github.com/sagernet/sing-box"
          - "github.com/wyx2685/sing-box_mod"
          - "github.com/sagernet/sing*"
          - "github.com/apernet/hysteria*"
          - "github.com/apernet/quic-go"
          - "github.com/go-acme/lego"
      other-deps:
        patterns:
          - "*"
        exclude-patterns:
          - "github.com/xtls/xray-core"
          - "github.com/wyx2685/xray-core"
          - "github.com/sagernet/sing-box"
          - "github.com/wyx2685/sing-box_mod"
          - "github.com/sagernet/sing*"
          - "github.com/apernet/hysteria*"
          - "github.com/apernet/quic-go"
          - "github.com/go-acme/lego"
